:root {
  --primary-color: rgb(81, 146, 110);
  --secondary-color: rgb(130, 194, 126);
  --tertiary-color: #234834;
}

body {
  background-color: rgb(215, 254, 213);
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
  margin-bottom: 0px;
}

.sakura-ai-top,
.sakura-ai-bottom {
  font-family: "Poor Story", system-ui;
  margin-top: 20px;
  font-size: 20px;
}

.sakura-ai-bottom {
  margin-top: 80px;
  margin-bottom: 0px;
}

strong {
  color: #e4abc3;
  font-family: "Poor Story", system-ui;
}

h1 {
  font-size: 55px;
  color: var(--secondary-color);
}

#feminine {
  color: #e58dc0;
}

h2 {
  color: #efb3cd;
  font-size: 40px;
}

h1,
h2 {
  font-weight: 800;
  line-height: 1;
}

form {
  padding: 30px;
  background-color: rgba(81, 146, 110, 0.397);
  border-radius: 10px;
  margin-bottom: 25px;
  display: flex;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

footer {
  font-size: 14px;
  margin-top: 30px;
  color: var(--primary-color);
}

a {
  color: var(--tertiary-color);
}

a:hover {
  color: #e5acc4;
}

.input {
  padding: 10px;
  width: 80%;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  font-size: 13px;
  line-height: 20px;
}

.submit-button {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  font-size: 15px;
  color: var(--tertiary-color);
  border-radius: 50px;
  width: 20%;
  margin-left: 10px;
  padding: 14px 24px;
}

.submit-button:hover {
  background-color: #e5acc4;
  transition: all 100ms ease-in-out;
}

.quote {
  font-size: 16px;
  text-align: left;
  background-color: rgba(81, 146, 110, 0.397);
  padding: 20px;
  line-height: 2;
  border-left: 3px solid var(--primary-color);
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  color: var(--tertiary-color);
}

.quote strong {
  font-size: 25px;
  color: #e58dc0;
}

.cherry-blossom-icon {
  width: 50px;
  transition: all 500ms ease-in-out;
}

.cherry-blossom-icon:hover {
  transform: rotateZ(50deg) scale(1.5);
}
