:root {
  --primary-color: rgb(159, 156, 156);
  --secondary-color: #f4e0ef;
  --tertiary-color: #efb3cd;
}

body {
  background-color: var(--secondary-color);
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
  margin-bottom: 0px;
}

strong {
  color: #e09eba;
  font-family: "Poor Story", system-ui;
}

h1 {
  font-size: 55px;
  color: var(--primary-color);
}

#mental-health {
  color: #c0bbbd;
}

h2 {
  color: var(--tertiary-color);
  font-size: 40px;
}

h1,
h2 {
  font-weight: 800;
  line-height: 1;
}

.form-container {
  padding: 20px;
  background-color: #cecdd4;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
  color: var(--primary-color);
}

footer {
  font-size: 14px;
  margin-top: 30px;
  color: var(--primary-color);
}

a {
  color: var(--tertiary-color);
}

a:hover {
  color: #e09eba;
}

.input {
  padding: 10px;
  width: 80%;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  font-size: 13px;
  line-height: 20px;
}

.submit-button {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  font-size: 15px;
  color: var(--primary-color);
  border-radius: 50px;
  width: 20%;
  margin-left: 10px;
  padding: 14px 24px;
}

.submit-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.quote {
  font-size: 16px;
  text-align: left;
  background-color: #cecdd4;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid var(--primary-color);
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  color: #878181;
}

.hidden {
  display: none;
}

.quote strong {
  font-size: 25px;
  color: #e09eba;
}

.cherry-blossom-icon {
  width: 50px;
  transition: all 500ms ease-in-out;
}

.cherry-blossom-icon:hover {
  transform: rotateZ(50deg) scale(1.5);
}

.sakura-ai-top,
.sakura-ai-bottom {
  font-family: "Poor Story", system-ui;
  margin-top: 20px;
  font-size: 20px;
}

.sakura-ai-bottom {
  margin-top: 100px;
  margin-bottom: 0px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
  color: #e09eba;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
